@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: local("OpenSans"),
       url("../font/opensans.woff2") format("woff2"),
       url("../font/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  src: local("OpenSans-Light"),
       url("../font/opensanslight.woff2") format("woff2"),
       url("../font/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: local("Gilroy-ExtraBold"),
       url("../font/gilroyextrabold.woff2") format("woff2"),
       url("../font/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: local("Gilroy-Light"),
       url("../font/gilroyextrabold.woff2") format("woff2"),
       url("../font/gilroyextrabold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

/*  Глобальные стили  */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

/*  Стандартные элементы  */
.button {
  text-align: center;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.heading {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  font-weight: 800;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  Шапка сайта  */
.header {
  background-color: rgba(240, 197, 46, 0.5);
}

.header a:hover,
.header a:focus {
  opacity: 0.6;
}

.header a:active {
  opacity: 0.3;
}

.header ul {
  list-style-type: none;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.header-search .search-input {
  background-color: transparent;
}

.header-search .search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search:hover .search-input::placeholder,
.header-search .search-input:focus::placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.header-search .search-button {
  opacity: 0;
  background-color: transparent;
}

.header-search .search-button:hover,
.header-search .search-button:focus {
  color: #ffffff;
  background-color: #000000;
  opacity: 1;
}

.header-search.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-search .search-input:focus + .search-button,
.header-search:hover .search-button,
.header-search .search-button:focus {
  opacity: 1;
}

.user-menu a,
.tools-menu a {
  color: #000000;
}


.user-menu a:hover,
.user-menu a:focus,
.tools-menu a:hover,
.tools-menu a:focus {
  opacity: 0.6;
}

.user-menu a:active,
.tools-menu a:active {
  opacity: 0.3;
}

.main-nav-list .item-link {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
}

.item-submenu a {
  line-height: 36px;
  color: #000000;
}

.about-text {
  color: #464646;
}

.about-list {
  list-style-type: circle; /*  временная замена  */
}

.about-list li {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

.contacts-text {
  color: #464646;
}

.footer {
  background-color: #464646;
}

.footer ul {
  list-style-type: none;
}

.footer a,
.footer p {
  color: #ffffff;
}

.footer-address,
.footer-phone {
  color: #ffffff;
}

.footer-nav-list .item-link {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #ffffff;
}

.user-menu-footer a,
.tools-menu-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.user-menu-footer a:hover,
.user-menu-footer a:focus,
.tools-menu-footer a:hover,
.tools-menu-footer a:focus {
  color: #ffffff;
}

.user-menu-footer a:active,
.tools-menu-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-nav-footer .item-link {
  color: #ffffff;
}

.footer-nav-list .item-link:hover,
.footer-nav-list .item-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-list .item-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs li,
.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter legend {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.filter ul {
  list-style-type: none;
}

.filter label {
  font-size: 14px;
  line-height: 40px;
}

.goods-list {
  list-style-type: none;
}

.goods-item a {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.goods-item a:hover,
.goods-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.goods-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-item p {
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}
