@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: local("OpenSans"),
       url("../font/opensans.woff2") format("woff2"),
       url("../font/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  src: local("OpenSans-Light"),
       url("../font/opensanslight.woff2") format("woff2"),
       url("../font/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: local("Gilroy-ExtraBold"),
       url("../font/gilroyextrabold.woff2") format("woff2"),
       url("../font/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: local("Gilroy-Light"),
       url("../font/gilroyextrabold.woff2") format("woff2"),
       url("../font/gilroyextrabold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

/*  Глобальные стили  */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

/*  Стандартные элементы  */
.button {
  text-align: center;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  padding: 7px 41px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.heading {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  margin: 0;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-image: linear-gradient(to bottom, #ffffff 40px, rgba(240, 197, 46, 0.5) 40px);
  background-color: rgba(240, 197, 46, 0.5);
  min-height: 226px;
  padding: 23px 60px 0;
}

.header.main-page {
  min-height: 340px;
}

.header .logo:hover,
.header .logo:focus,
.footer .logo:hover,
.footer .logo:focus,
.tools-menu a:hover,
.tools-menu a:focus,
.main-nav-list .item-link:not(.submenu-title):hover,
.main-nav-list .item-link:not(.submenu-title):focus,
.main-nav-footer .item-link:hover,
.main-nav-footer .item-link:focus,
.item-submenu a:hover,
.item-submenu a:focus {
  opacity: 0.6;
}

.header .logo:active,
.footer .logo:active,
.tools-menu a:active,
.main-nav-list .item-link:not(.submenu-title):active,
.item-submenu a:active {
  opacity: 0.3;
}

.header-search .search-input {
  background-color: transparent;
  padding-left: 36px;
  padding-right: 20px;
  border: none;
  width: 352px;
  height: 100%;
}

.header-search {
  position: relative;
}

.header-search::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/svg/search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
}

.header-search .search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search:hover .search-input::placeholder,
.header-search .search-input:focus::placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.header-search .search-button {
  opacity: 0;
  background-color: transparent;
  padding: 8px 18px;
  line-height: 30px;
  border: 2px solid #000000;
}

.header-search .search-button:hover,
.header-search .search-button:focus {
  color: #ffffff;
  background-color: #000000;
  opacity: 1;
}

.header-search .search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-input:focus + .search-button,
.search-input:hover,
.header-search .search-button:focus {
  opacity: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 26px;
}

.user-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0 auto 0 98px;
  align-items: center;
}

.user-menu li:not(:first-child) {
  margin-left: 19px;
}

.user-menu .user-profile {
  position: relative;
  padding-left: 27px;
}

.user-menu .user-profile a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background-image: url(../img/svg/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}

.user-logout {
  opacity: 0.3;
}

.user-logout:hover {
  opacity: 1;
}

.tools-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.tools-menu a {
  padding-left: 24px;
}

.tools-menu li:not(:first-child) {
  margin-left: 42px;
}

.tools-compare a,
.tools-cart a {
  position: relative;
}

.header .tools-compare a::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url(../img/svg/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.tools-cart a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(../img/svg/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}

.user-menu a,
.tools-menu a {
  color: #000000;
}

.user-menu a:hover,
.user-menu a:focus,
.tools-menu a:hover,
.tools-menu a:focus {
  opacity: 0.6;
}

.user-menu a:active,
.tools-menu a:active {
  opacity: 0.3;
}

.main-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.main-nav-list .item-link {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  margin-right: -3.6px;
}

.main-nav-list .submenu-title {
  position: relative;
  padding-right: 32px;
  margin-right: auto;
}

.main-nav-list .submenu-title:hover,
.main-nav-list .submenu-title:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav-list .submenu-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav-list .submenu-title::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/svg/plus.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  opacity: 0.3;
}

.submenu-title:hover + .submenu-list,
.submenu-list:hover {
  display: flex;
}

.main-nav-list .submenu-list {
  list-style-type: none;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 0;
  flex-direction: column;
  max-height: 160px;
  flex-wrap: wrap;
  display: none;
}

.submenu-list a {
  line-height: 36px;
  color: #000000;
}

.main-nav-item-delivery {
  margin-left: auto;
}

.main-nav-item-guarantee {
  margin-left: 38px;

}

.main-nav-item-contacts {
  margin-left: 112px;
}

.section-wrapper {
  display: flex;
  margin-bottom: 86px;
}

.about,
.contacts {
  width: 50%;
  padding-top: 52px;
}

.about .heading,
.contacts .heading {
  margin-bottom: 42px;
}

.about {
  padding-right: 120px;
}

.about-text {
  color: #464646;
}

.about-text:not(:last-of-type) {
  margin-bottom: 30px;
  letter-spacing: normal;
}

.about-list {
  list-style-type: circle; /*  временная замена  */
  margin-top: 66px;
  padding-left: 35px;
  margin-bottom: 60px;
}

.about-list li {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

.about-button {
  padding-left: 22px;
  padding-right: 22px;
}

.contacts {
  padding-left: 18px;
}

.contacts-text {
  color: #464646;
  margin-bottom: 40px;
}

.contacts-map {
  margin-bottom: 64px;
}

.footer {
  background-color: #464646;
  padding-top: 65px;
  padding-bottom: 66px;
}

.footer .logo {
  margin-right: auto;
}

.footer .footer-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.user-profile-footer {
  margin-left: auto;
  padding-left: 27px;
  position: relative;
}

.user-profile-footer:hover::after {
  opacity: 0.6;
}

.user-profile-footer a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background-image: url(../img/svg/user-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.user-menu-footer li:not(:first-child) {
  margin-left: 19px;
}

.user-profile-footer:hover a,
.user-profile-footer:focus a,
.tools-menu-footer .tools-compare-footer:hover a,
.tools-menu-footer .tools-compare-footer:focus a,
.tools-menu-footer .tools-cart-footer:hover a,
.tools-menu-footer .tools-cart-footer:focus a {
  color: #ffffff;
}

.user-profile-footer:hover a::before,
.user-profile-footer:focus a::before,
.tools-menu-footer .tools-compare-footer:hover::before,
.tools-menu-footer .tools-compare-footer:focus::before,
.tools-menu-footer .tools-cart-footer:hover::before,
.tools-menu-footer .tools-cart-footer:focus::before {
  opacity: 0.6;
}

.user-profile-footer:active a,
.tools-menu-footer .tools-compare-footer:active a,
.tools-menu-footer .tools-cart-footer:active a {
  color: rgba(255, 255, 255, 0.3);
}

.user-profile-footer:active a::before,
.tools-menu-footer .tools-compare-footer:active::before,
.tools-menu-footer .tools-cart-footer:active::before {
  opacity: 0.3;
}

.user-logout-footer:hover {
  opacity: 1;
}

.footer-row:first-child {
  margin-bottom: 20px;
}

.footer-row:nth-child(2) {
  margin-bottom: 60px;
}

.footer-row:last-child {

}

.footer-row .user-menu-footer {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-row .tools-menu-footer {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tools-menu-footer .tools-compare-footer {
  margin-left: 43px;
  padding-left: 20px;
  position: relative;
}

.tools-menu-footer .tools-compare-footer::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url(../img/svg/compare-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tools-compare-footer {
  padding-left: 10px;
}

.tools-cart-footer {
  margin-left: 41px;
  position: relative;
}

.tools-cart-footer::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(../img/svg/cart-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tools-cart-footer a {
  padding-left: 24px;
}

.footer-nav-list li:not(:first-child) {
  margin-left: 34px;
}

.footer-nav-list .item-link {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
}

.user-menu-footer a,
.tools-menu-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.tools-menu-footer a:hover,
.tools-menu-footer a:focus {
  color: #ffffff;
}

.user-menu-footer a:active,
.tools-menu-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-row:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 5px 0 0 0;
}

.footer-address {
  margin-right: 164px;
}

.footer-phone {
  margin-left: auto;
}

.footer-address,
.footer-phone {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-address,
.footer-phone,
.footer-phone a {
  color: #ffffff;
}

.main-nav-footer .item-link {
  color: #ffffff;
}

.footer-nav-list .item-link:hover,
.footer-nav-list .item-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-list .item-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-left: -54px;
  margin-top: 0;
  margin-bottom: 0;
}

.social-list a {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-list li:not(:first-child) {
  margin-left: 22px;
}

.social-list a:hover,
.social-list a:focus {
  opacity: 0.6;
}

.social-list a:active {
  opacity: 0.1;
}

.social-facebook {
  background-image: url(../img/svg/fb.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-instagram {
  background-image: url(../img/svg/instagram.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-twitter {
  background-image: url(../img/svg/twitter.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.developers {
  width: 27px;
  height: 35px;
  display: block;
  background-image: url(../img/svg/logo-html.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.developers:hover,
.developers:focus {
  opacity: 0.6;
}

.developers:active {
  opacity: 0.3;
}

.catalog-wrapper.container {
  display: flex;
}

.catalog-page h1 {
  letter-spacing: 0.5px;
  margin-top: 37px;
  padding: 0 60px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin-top: 24px;
  margin-bottom: 46px;
  padding: 0 60px;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 38px;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs li,
.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
  position: relative;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-image: url(../img/svg/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 50%;
  transform: translateY(-50%);
  right: -22px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.title-stub {
  height: 70px;
  width: 100vw;
  background-color: #d9d9d9;
  color: #7a7a7a;
  text-align: center;
  font-size: 40px;
  line-height: 70px;
}

.filter {
  width: 28.2%;
  padding-left: 60px;
}

.filter-form {
  margin-top: 209px;
}

.filter-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-form fieldset:last-of-type {

}

.filter-form legend {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  padding-top: 12px;
}

.filter-list {
  list-style-type: none;
  padding-left: 22px;
  margin-top: 18px;
  margin-bottom: 31px;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
}

.filter-form-color {

}

.goods {
  width: 71.8%;
}

.goods-list {
  list-style-type: none;
  padding: 69px 0 77px 52px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px 0 0;
}

.goods-item {
  margin-left: 20px;
  margin-right: 20px;
}

.goods-item a {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.goods-item a:hover,
.goods-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.goods-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-item p {
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  margin-top: 22px;
}

.goods-item .item-description {
  display: flex;
  justify-content: space-between;
}

.item-description h3 {
  width: 255px;
  line-height: 24px;
  margin-top: 22px;
  margin-bottom: 46px;
}

.main-stub {
  height: 1478px; /*  высота разметки под красным фоном  */
}

