@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: local("OpenSans"),
       url("../font/opensans.woff2") format("woff2"),
       url("../font/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  src: local("OpenSans-Light"),
       url("../font/opensanslight.woff2") format("woff2"),
       url("../font/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: local("Gilroy-ExtraBold"),
       url("../font/gilroyextrabold.woff2") format("woff2"),
       url("../font/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: local("Gilroy-Light"),
       url("../font/gilroyextrabold.woff2") format("woff2"),
       url("../font/gilroyextrabold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

/*  Глобальные стили  */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

/*  Стандартные элементы  */
.button {
  text-align: center;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  padding: 7px 41px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.heading {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  margin: 0;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  margin-top: 40px;
  background-color: rgba(240, 197, 46, 0.5);
  min-height: 186px;
  padding: 33px 60px 0;
}

.header.main-page {
  min-height: 300px;
}

.header .logo {
  position: absolute;
  left: 60px;
  top: -18px;
}

.header .logo:hover,
.header .logo:focus,
.footer .logo:hover,
.footer .logo:focus,
.tools-menu a:hover,
.tools-menu a:focus,
.main-nav-list .item-link:hover,
.main-nav-list .item-link:focus,
.main-nav-footer .item-link:hover,
.main-nav-footer .item-link:focus,
.item-submenu a:hover,
.item-submenu a:focus {
  opacity: 0.6;
}

.header .logo:active,
.footer .logo:active,
.tools-menu a:active,
.main-nav-list .item-link:active,
.item-submenu a:active {
  opacity: 0.3;
}

.header-search {
  padding-left: 36px;

}

.header-search .search-input {
  background-color: transparent;
  letter-spacing: -0.1px;
  border: none;
  width: 352px;
}

.header-search .search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search:hover .search-input::placeholder,
.header-search .search-input:focus::placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.header-search .search-button {
  opacity: 0;
  background-color: transparent;
  padding: 8px 18px;
  line-height: 30px;
  border: 2px solid #000000;
}

.header-search .search-button:hover,
.header-search .search-button:focus {
  color: #ffffff;
  background-color: #000000;
  opacity: 1;
}

.header-search .search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-search .search-input:focus + .search-button,
.header-search:hover,
.header-search .search-button:focus {
  opacity: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.user-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0 auto 0 62px;
  align-items: center;
}

.user-menu a {
  padding-left: 27px;
}

.tools-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.tools-menu a {
  padding-left: 24px;
}

.tools-menu li:not(:first-child) {
  margin-left: 42px;
}

.user-menu a,
.tools-menu a {
  color: #000000;
}

.user-menu a:hover,
.user-menu a:focus,
.tools-menu a:hover,
.tools-menu a:focus {
  opacity: 0.6;
}

.user-menu a:active,
.tools-menu a:active {
  opacity: 0.3;
}

.main-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.main-nav-list .item-link {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  margin-right: -3.6px;
}

.main-nav-list .submenu-title {
  padding-right: 32px;
  margin-right: auto;
}

.main-nav-list .item-submenu {
  display: none;
}


.item-submenu a {
  line-height: 36px;
  color: #000000;
}

.main-nav-list .item-delivery {
  margin-left: auto;
}

.main-nav-list .item-guarantee {
  margin-left: 38px;
}

.main-nav-list .item-contacts {
  margin-left: 112px;
}

.section-wrapper {
  display: flex;
  margin-bottom: 86px;
}

.about,
.contacts {
  width: 50%;
  padding-top: 52px;
}

.about .heading,
.contacts .heading {
  margin-bottom: 42px;
}

.about {
  padding-right: 120px;
}

.about-text {
  color: #464646;
  letter-spacing: -0.2px;
}

.about-text:not(:last-of-type) {
  margin-bottom: 30px;
  letter-spacing: normal;
}

.about-list {
  list-style-type: circle; /*  временная замена  */
  margin-top: 66px;
  padding-left: 35px;
  margin-bottom: 60px;
}

.about-list li {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

.about-button {
  padding-left: 22px;
  padding-right: 22px;
}

.contacts {
  padding-left: 18px;
}

.contacts-text {
  color: #464646;
  margin-bottom: 40px;
}

.contacts-map {
  margin-bottom: 64px;
}

.footer {
  background-color: #464646;
  padding-top: 65px;
  padding-bottom: 66px;
}

.footer .logo {
  margin-right: auto;
}

.footer .footer-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.user-menu-footer .entrance {
  margin-left: auto;
}

.user-menu-footer .entrance-link {
  padding-left: 24px;
}

.footer-row:first-child {
  margin-bottom: 20px;
}

.footer-row:nth-child(2) {
  margin-bottom: 60px;
}

.footer-row:last-child {

}

.footer-row .user-menu-footer {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-row .tools-menu-footer {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tools-menu-footer .comparison {
  margin-left: 54px;

}

.tools-menu-footer .comparison-link {
  padding-left: 10px;
}

.tools-menu-footer .basket {
  margin-left: 41px;
}

.tools-menu-footer .basket-link {
  padding-left: 24px;
}

.footer-nav-list li:not(:first-child) {
  margin-left: 34px;
}

.footer-nav-list .item-link {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
}

.user-menu-footer a,
.tools-menu-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.user-menu-footer a:hover,
.user-menu-footer a:focus,
.tools-menu-footer a:hover,
.tools-menu-footer a:focus {
  color: #ffffff;
}

.user-menu-footer a:active,
.tools-menu-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 5px 0 0 0;
}

.footer-address {
  margin-right: 164px;
}

.footer-phone {
  margin-left: auto;
}

.footer-address,
.footer-phone {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-address,
.footer-phone,
.footer-phone a {
  color: #ffffff;
}

.main-nav-footer .item-link {
  color: #ffffff;
}

.footer-nav-list .item-link:hover,
.footer-nav-list .item-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-list .item-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-wrapper.container {
  display: flex;
}

.catalog-page h1 {
  letter-spacing: 0.5px;
  margin-top: 37px;
  padding: 0 60px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin-top: 24px;
  margin-bottom: 46px;
  padding: 0 60px;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 38px;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs li,
.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.title-stub {
  height: 70px;
  width: 100vw;
  background-color: #d9d9d9;
  color: #7a7a7a;
  text-align: center;
  font-size: 40px;
  line-height: 70px;
}

.filter {
  width: 28.2%;
  padding-left: 60px;
}

.filter-form {
  margin-top: 209px;
}

.filter-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-form fieldset:last-of-type {

}

.filter-form legend {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  padding-top: 12px;
}

.filter-list {
  list-style-type: none;
  padding-left: 22px;
  margin-top: 18px;
  margin-bottom: 31px;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
}

.filter-form-color {

}

.goods {
  width: 71.8%;
  padding-top: 69px;
}

.goods-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.goods-item {
  margin-left: 40px;
}

.goods-item:nth-child(2n-1) {
  margin-left: 72px;
}

.goods-item a {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.goods-item a:hover,
.goods-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.goods-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-item p {
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.goods-item .item-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-description h3 {
  width: 255px;
}

.main-stub {
  height: 1478px; /*  высота разметки под красным фоном  */
}

.blue {
  outline: 1px dashed royalblue;
}
.red {
  outline: 1px dashed crimson;
}
.green {
  outline: 1px dashed lightseagreen;
}
.yellow {
  outline: 1px dotted yellow;
}

